SAIL_NETWORK=
DATABASE_URL=

BOT_TOKEN=
WEBHOOK_URL=
WEBHOOK_SECRET_TOKEN=
WEBHOOK_PATH=
WEBHOOK_HOST=

GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
GEMINI_EMBED_MODEL=gemini-embedding-001
GEMINI_EMBED_DIM=768

JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60